In [5]:
import pandas as pd

In [66]:
# read csv into pandas
NCHS = pd.read_csv('NCHS_-_Leading_Causes_of_Death__United_States.csv')

In [67]:
NCHS.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

In [68]:
state_code = pd.read_csv('state_code.csv')

In [69]:
state_code.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [70]:
NCHS.describe()

               Year        Deaths  Age-adjusted Death Rate
count  10296.000000  1.029600e+04             10296.000000
mean    2007.500000  1.536793e+04               128.037383
std        5.188379  1.121457e+05               224.381865
min     1999.000000  2.100000e+01                 2.600000
25%     2003.000000  6.060000e+02                19.200000
50%     2007.500000  1.704500e+03                35.800000
75%     2012.000000  5.678000e+03               153.025000
max     2016.000000  2.744248e+06              1087.300000

In [71]:
NCHS.head(20)

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1
5,2009,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,29,4.4
6,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,South Dakota,49,4.5
7,2015,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,39,4.5
8,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,37,4.5
9,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,374,4.9
10,2015,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,34,4.9
11,2001,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,279,5.0
12,1999,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,30,5.1
13,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
14,2016,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,40,5.2
15,2006,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,30,5.2
16,2002,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,31,5.2
17,2003,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,304,5.3
18,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,43,5.4
19,2008,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,39,5.4

In [72]:
#sort values 
NCHS = NCHS.sort_values('State').sort_values('Year')

In [73]:
# drop columns we don't need

NCHS = NCHS.drop(columns=['113 Cause Name','Age-adjusted Death Rate'])

In [74]:
NCHS.head()

       Year               Cause Name         State  Deaths
10114  1999               All causes  Pennsylvania  130283
4187   1999                 Diabetes       Indiana    1591
9320   1999            Heart disease      Arkansas    8315
3831   1999  Influenza and pneumonia     Wisconsin    1425
6499   1999   Unintentional injuries      Arkansas    1287

In [75]:
# find max year
NCHS.Year.max()

2016

In [76]:
# drop years before 2013, since income data does not have data before then
NCHS = NCHS.loc[NCHS.Year>2012,:]

In [77]:
# check for years in new dataframe
NCHS.Year.unique()

array([2013, 2014, 2015, 2016], dtype=int64)

In [78]:
# look at unique values of "Cause Name column"
NCHS['Cause Name'].unique()

array(['CLRD', 'Cancer', 'Stroke', 'All causes', "Alzheimer's disease",
       'Kidney disease', 'Unintentional injuries', 'Suicide',
       'Influenza and pneumonia', 'Heart disease', 'Diabetes'],
      dtype=object)

In [80]:
NCHS.Year.describe()

count    2288.000000
mean     2014.500000
std         1.118278
min      2013.000000
25%      2013.750000
50%      2014.500000
75%      2015.250000
max      2016.000000
Name: Year, dtype: float64

In [81]:
#Year is a float, change to string
NCHS.Year = NCHS.astype({'Year': 'object'})

In [82]:
NCHS.head()

      Year           Cause Name          State  Deaths
5880  2013                 CLRD  New Hampshire     668
7748  2013               Cancer   South Dakota    1577
5192  2013               Stroke  United States  128978
9529  2013           All causes       Nebraska   15754
4113  2013  Alzheimer's disease       Michigan    3220

In [83]:
# rearrange columns

NCHS = NCHS[['State','Year','Cause Name','Deaths']]

In [87]:
# reset index
NCHS.reset_index(inplace=True)

In [89]:
# drop old index
NCHS = NCHS[['State','Year','Cause Name','Deaths']]

In [90]:
NCHS.head()

           State  Year           Cause Name  Deaths
0  New Hampshire  2013                 CLRD     668
1   South Dakota  2013               Cancer    1577
2  United States  2013               Stroke  128978
3       Nebraska  2013           All causes   15754
4       Michigan  2013  Alzheimer's disease    3220

In [93]:
#output to a csv
NCHS.to_csv('NCHS.csv',index=False, header=True)